.grid {
    display: flex;
}

.gutters {
    /* padding-bottom: 1px; */
    margin: -10px 0 10px 0;
    /* border: 1px solid black */
}

.gutters > .cell {
    padding-right: 10px;
}

.cell {
    flex: 1 1; /* flex-grow: 1, flex-shrink: 1, flex-basis: 0% */
    padding-bottom: 1%;
}

.cell > div {
    background-color: aqua;
}