.grid1 {
    display: flex;
}

.glutters1 {
    margin: 10px 10px 0 0;
}

.half {
    flex-basis: 50%;
}

.third {
    flex-basis : 33.33%
}

.fourth {
    flex-basis : 25%;
}

.half, .third, .fourth > div {
    background-color: aqua;
    margin-right: 5px;
}